*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow: auto;
}

@media (max-width: 768px) {
  .html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  overflow: hidden;
}

.app {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.6rem;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instruction {
  padding: 0 2rem;
}

.container {
  position: relative;
  margin-bottom: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
