.display {
  font-size: 3rem;
  min-width: 25%;
  text-align: center;
  background-color: #111;
  border: 5px solid rgb(99, 99, 87);
  border-radius: 2px;
  color: #fff;
  padding: 1rem;
}

.mistake p {
  animation: blinker 0.25s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
