.settings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15%;
  height: 15vw;
  background-color: #fff;
  border-radius: 100%;
  border: 10px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .settings {
    width: 55%;
    height: 55vw;
    font-size: 1rem;
  }
}

.settings .row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
